<div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a ui-sref="app.master.profile">profile</a></li>
        <li class="divider"></li>
        <li><a href="" ng-click="logout()">Logout</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{config.siteName}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a ui-sref="app.master.chat">Chat</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{session.current_user.name}}<i class="material-icons right"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col s12" ui-view>
        </div>
    </div>
</div>
<div id="login" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <div class="row">
            <form class="col s12" ng-submit="login()">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Placeholder" ng-model="Base.data.forms.login.username" id="username" type="text" class="validate">
                        <label for="first_name">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="last_name" type="password" ng-model="Base.data.forms.login.password" class="validate">
                        <label for="last_name">Password</label>
                    </div>
                </div>
                <button class="btn waves-effect" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
