<div class="card-panel light-blue lighten-3">
    <div class="row">
        <form class="col s12" ng-submit="Hangman.create()">
            <div class="row">
                <div class="input-field col s6">
                    <input ng-model="Hangman.data.forms.create.room" id="room" type="text" class="validate">
                    <label class="white-text" for="room">Game Name</label>
                    <div ng-if="errorCollection.errors.room" class="card-panel card-error red">
                        <ul>
                            <li ng-repeat="error in errorCollection.errors.room"><i class="tiny mdi-alert-warning"></i> {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input ng-model="Hangman.data.forms.create.player_limit" id="player_limit" type="tel" class="validate">
                    <label class="white-text" for="player_limit">Player Limit</label>
                    <div ng-if="errorCollection.errors.player_limit" class="card-panel card-error red">
                        <ul>
                            <li ng-repeat="error in errorCollection.errors.player_limit"><i class="tiny mdi-alert-warning"></i> {{error}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn pink waves-effect" type="submit">Start It!</button>
        </form>
    </div>
</div>
